.statistic-card {
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 5%;
    width: 350px;
}

.statistic-card .body {
    padding: 1.2rem;
    height: 120px;
}

.statistic-card .body .icon {
    color:white;
}

.statistic-card .body .amount {
    color:white;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
}

.statistic-card .body .text {
    color: white;
    font-weight: 500;
}

#stat-card-1 {
    background:linear-gradient(135deg, #3bb2b8 0%,#42e695 100%);
}

#stat-card-2 {
    background:linear-gradient(135deg, #FF57B9 0%,#A704FD 100%);
}

#stat-card-3 {
    background:linear-gradient(135deg, #f77f28 0%,#fad961 100%);
}

#stat-card-4 {
    background:linear-gradient(135deg, #899199 0%,#e3e3e3 100%);
}